@import 'tailwindcss';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --color-bg: rgb(255 255 255);
  --color-text: rgb(17 24 39);
}

[data-theme='dark'] {
  --color-bg: rgba(16 16 16 / 0.85);
  --color-text: rgb(243 245 247);
}

/* 전역 기본 적용(선택) */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
